.home-page-before-login-owner,
.home-page-before-login-owner * {
  box-sizing: border-box;
}
.home-page-before-login-owner {
  background: linear-gradient(to left, #ffffff, #ffffff);
  height: 747px;
  position: relative;
  overflow: clip;
}
.toko-furnitur-kapi {
  color: #524f4f;
  text-align: left;
  font-family: "Jost-SemiBold", sans-serif;
  font-size: 60px;
  font-weight: 600;
  position: absolute;
  left: 690px;
  top: 324px;
  width: 893px;
  height: 77px;
}
.imgbin-club-chair-table-couch-furniture-gray-linen-sofa-leisure-gray-fabric-sofa-chair-jbrvt-y-9-jx-0-g-24-vz-z-kw-h-ysui-nc-removebg-preview-1 {
  width: 332px;
  height: 372px;
  position: absolute;
  left: 575px;
  top: 352px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.pngtree-black-tall-floor-lamp-isolated-on-white-transparent-background-png-image-12685072-removebg-preview-1 {
  width: 385px;
  height: 473px;
  position: absolute;
  left: 28px;
  top: 208px;
  object-fit: cover;
}
.we-combine-interior-and-exterior-designs-service-and-often-provide-them-as-a-single-solution {
  color: #524f4f;
  text-align: left;
  font-family: "Jost-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 698px;
  top: 420px;
  width: 534px;
  height: 102px;
}
.user-square {
  width: 52px;
  height: 54px;
  position: absolute;
  right: 50px;
  top: 17px;
  overflow: visible;
}
