<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./HomePageBeforeLoginOwner.css">
  
  <title>Document</title>
</head>
<body>
  <div
    class="home-page-before-login-owner"
    style="background: url(../static/home-page-before-login-owner.png) center; background-size: cover; background-repeat: no-repeat;"
  >
    <div class="toko-furnitur-kapi">Toko Furnitur Kapi</div>
    <img
      class="imgbin-club-chair-table-couch-furniture-gray-linen-sofa-leisure-gray-fabric-sofa-chair-jbrvt-y-9-jx-0-g-24-vz-z-kw-h-ysui-nc-removebg-preview-1"
      src="../static/imgbin-club-chair-table-couch-furniture-gray-linen-sofa-leisure-gray-fabric-sofa-chair-jbrvt-y-9-jx-0-g-24-vz-z-kw-h-ysui-nc-removebg-preview-10.png"
    />
    <img
      class="pngtree-black-tall-floor-lamp-isolated-on-white-transparent-background-png-image-12685072-removebg-preview-1"
      src="../static/pngtree-black-tall-floor-lamp-isolated-on-white-transparent-background-png-image-12685072-removebg-preview-10.png"
    />
    <div
      class="we-combine-interior-and-exterior-designs-service-and-often-provide-them-as-a-single-solution"
    >
      we combine interior and exterior designs service and often provide them as a
      single solution
    </div>

    <!-- Wrap the user-square image with a link (a) element -->
    <a href="LoginOwner.html" class="user-square-link">
      <img class="user-square" src="../static/user-square0.svg" />
    </a>
  </div>
</body>
</html>
